:root {
  --text-color: white;
  --bg-url: url(assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-star.svg);
}
.light {
  --text-color: black;
  --bg-url: url(assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(78, 74, 74, 0.2);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  /*background-image: url(assets/bg-mobile.jpg);
 background-repeat: no-repeat;
 background-position: top center;
 background-size: cover;
 */

  /*background: color image repeat position/size */
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;

  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}
#nomeperfil {
  font-weight: 500;
  height: 24px;

  text-align: center;
}
#profile img {
  width: 112px;
  height: 111px;
}
#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: center;
}
#switch {
  position: relative;
  width: 64px;
  height: 24px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}
.light #switch button {
  right: 0;
  left: initial;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Lista de Links */
ul {
  /* "Pai" dos links, o que é feito aqui, se aplica a todos os links */
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0; /*espaço entre as boxes */
}
ul li a {
  /*link A colocado no html */

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--surface-color); /*fundo da box */
  border: 1px solid var(--stroke-color); /*borda com a cor em volta */
  border-radius: 8px; /*arredonda as box */

  backdrop-filter: blur(4px); /*aplica blur nas letras */
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none; /* retira a linha das letras */
  padding: 16px 24px;
  font-weight: 500;

  transition: background 0.2s;
}

/* pseudo-selector: usado para mudar quando passamos o mouse em cima da box */
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#switch a:hover {
  background: var(--highlight-color);
  border-radius: 50%;
}
/* icones do social links */
#social-links {
  display: flex;

  gap: 32px;

  padding: 24px 0;

  font-size: 40px;

  justify-content: center;
}

#social-links a:hover {
  background: var(--highlight-color);
  border-radius: 50%;
}

#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s;
  border-radius: 50%;
  padding: 16px;
}
